<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C3E911F2068D33900E32E04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C3E91332068D33A00E32E04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C3E913E2068D33A00E32E04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
